{% macro post_in_list(post) %}
<li>
  <a href="{{ post.permalink | safe }}">{{ post.title }}</a>
  <time style="font-size:90%;" datetime="{{ post.date | date(format="%+") }}">{{ post.date | date(format="%B %d, %Y") }}</time>
</li>
{% endmacro post_in_list %}

{% macro archive() %}
<div class="archive">
  <h2>archive</h2>
  {% for year, posts in section.pages | group_by(attribute="year") %}
  <p><em>{{ year }}</em></p>
    <ul class="post-list">                
      {% for post in posts %}
        {{ macros::post_in_list(post=post) }}
      {% endfor %}
    </ul>
  {% endfor %}          
</div>
{% endmacro archive %}

{% macro latest() %}
<div class="latest">
  <h2>latest</h2>
  <ul class="post-list">
    {% for post in section.pages | slice(start=0, end=5) %}
      {{ macros::post_in_list(post=post) }}
    {% endfor %}
  </ul>
</div>
{% endmacro latest %}

